{% extends 'base.html' %}

{% block title %}Land page{% endblock title %}

{% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
    {% endfor %}

    {% if name %}
        <h1>Hello {{ name }}!!</h1>
    {% else %}
        <h1>What's your Name?</h1>
        <p>
            <div class="shadow p-3 mb-5 bg-body rounded">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                <br/>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </p>
    {% endif %}
    <br>
    <table class="table table table-dark table-sm table-striped table-hover">
        {% for our_user in our_users %}
            <tr>
                <td>
                    {{ our_user.id }}.
                </td>
                <td>
                    {{ our_user.name }}
                </td>
                <td>
                    {{ our_user.email }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}